*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    margin: auto;
    width: 60%;
    text-align: center;
    margin-top: 50px;
    padding: 50px;
    background-color: aqua;
}
.form {
  margin: auto;
  width: 60%;
  background-color: aquamarine;
  padding: 10px;
}

.geral {
    width: 100%;
}