h1, p {
    text-align: center;
}

ol, ul, li {
    text-align: center;
}

.listasite:hover {
    background-color: aquamarine;
}

.listasite:active {
    font-family:'Courier New', Courier, monospace;
}

.lista-ordenada {
    list-style: none;
}

.lista-nao-ordenada {
    list-style: none;
}