* {
  text-align: center;
  color: aliceblue;
  background-color: black;
 
}

.content {
  text-align: center;
  display: grid;
  justify-self: center;
  justify-content: center;
  width: 70%;
  background-color: rgb(17, 19, 19);
  gap: 10px;
  margin: auto;
}

.card {
  border: 1px solid white;
  border-radius: 5px;
  gap: 3px;
}


.footer {
background-color: antiquewhite;
}