.card {
  display: grid;
  border: 1px solid black;
  width: 300px;
  gap: 5px;
  margin: auto;
  text-align: center;
  border-radius: 8px;
  line-height: 2px;
}

img {
  align-self: center;
}

p {
  padding: 5px;
  margin: 0;
}

.cards {
  margin: auto;
  display: grid;
  gap: 10px;
  flex-direction: row;
}