body {
    font-size: 16px;
}
h1 {
    font-family: sans-serif;
    color: orangered;
    font-size: 65px;
}
ul {
    background-color: orange;
    font-style: italic;
    text-align: center;
    text-decoration: solid;
}
.fundoteste {
    background-color: rgb(214, 210, 218);
}
p {
    font-weight: 600;
    font-size: 3em;
}
#amarelo {
    background-color: yellow;
}
#vermelho {
    background-color: red;
}
#marrom {
    background-color: brown;
}